label{
    display: inline-block;
}
.header{
    padding: 40px;
}
.header__wrap{
    display: flex;
    align-items: center;
}
.main__list, .school__list, .institute__list {
    list-style: none;
}
.main__item:not(:last-child), .school__item:not(:last-child), .institute__item:not(:last-child){
    margin-bottom: 15px;   
}

.school__item, .institute__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}
.header__button{
    flex-direction: flex-end;
}